/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,500;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Recursive:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


/* Default Css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* Website use css  */


/* Header Section  */
/* Header Section  */
/* Header Section  */
.header{
    width: 90%;
    margin: auto;
}
.header nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav .nav-content h3{
    font-size: 20px;
    color: #3a3a3a;
}
.header nav .nav-content ul{
    display: flex;
}
.header nav .nav-content ul li{
    padding: 10px;
}
.header nav .nav-content ul li a{
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 600;
}
.header nav .nav-content ul li i{
    font-size: 18px;
}
/* Header Menu responsive section  */

@media screen and (max-width:768px) {
    .header{
        width: 100%;
        padding-top: 1.5rem;
    }
    .header nav{
        flex-direction: column;
        height: 60px;
    }
}
@media screen and (max-width:992px) {
    .header{
        width: 100%;
        padding-top: 1.5rem;
    }
    .header nav{
        flex-direction: column;
        height: 60px;
    }
}
@media screen and (max-width:468px) {
    .header{
        width: 100%;
        padding-top: 1.5rem;
    }
    .header nav{
        flex-direction: column;
        height: 60px;
    }
}
/* Nav Bottom Section  */
/* Nav Bottom Section  */
/* Nav Bottom Section  */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* Influencer section  */
/* Influencer section  */
/* Influencer section  */
/* Influencer section  */
.container{
    width: 90%;
    margin: auto;
}
.container .influencer{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container .influencer .influencer-content h1{
    font-size: 45px;
    color: #3a3a3a;
}
.container .influencer .influencer-content p{
    font-size: 18px;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.container .influencer .influencer-content .influencer-button{
    background: #e02c6d;
    padding: 10px 25px;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
}
.influencer-content .influencer-button i{
    padding-left: 7px;
}
.container .influencer .influencer-content img{
    width: 60%;
    margin-left: 7rem;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 20px;
}
/* Influencer responsive section  */
@media screen and (max-width:992px) {
    .container{
        width: 100%;
        padding: 2rem;
    }
    .container .influencer .influencer-content h1{
        font-size: 40px;
    }
    .container .influencer{
        grid-template-columns: 1fr;
    }
    .container .influencer .influencer-content img{
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }
}
@media screen and (max-width:768px) {
    .container{
        width: 100%;
        padding: 2rem;
    }
    .container .influencer .influencer-content h1{
        font-size: 40px;
    }
    .container .influencer{
        grid-template-columns: 1fr;
    }
    .container .influencer .influencer-content img{
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }
}
@media screen and (max-width:468px) {
    .container{
        width: 100%;
        padding: 2rem;
    }
    .container .influencer .influencer-content h1{
        font-size: 30px;
    }
    .container .influencer{
        grid-template-columns: 1fr;
    }
    .container .influencer .influencer-content img{
        margin-top: 2rem;
        margin-left: 1rem;
        width: 90%;
    }
}




/* Logo Section  */
/* Logo Section  */
/* Logo Section  */
.logo-container{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.logo-container .logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 3rem;
}

.logo-container .logo .logo-photo img{
    margin-top: 10px;
    width: 80px;
    height: 60px;
}

/* logo responsive section  */
@media screen and (max-width:992px) {
    .logo-container{
        width: 100%;
    }
    .logo-container .logo{
        grid-template-columns: repeat(4,1fr);
    }
    .logo-container .logo .logo-photo img{
        margin-top: 10px;
        width: 70px;
        height: 45px;
    }
}
@media screen and (max-width:768px) {
    .logo-container{
        width: 100%;
    }
    .logo-container .logo{
        grid-template-columns: repeat(4,1fr);
    }
    .logo-container .logo .logo-photo img{
        margin-top: 10px;
        width: 60px;
        height: 40px;
    }
}
@media screen and (max-width:468px) {
    .logo-container{
        width: 100%;
    }
    .logo-container .logo{
        grid-template-columns: repeat(4,1fr);
    }
    .logo-container .logo .logo-photo img{
        margin-top: 10px;
        width: 60px;
        height: 40px;
    }
}




/* Collection section  */
/* Collection section  */
/* Collection section  */
.collection-container{
    width: 80%;
    margin: auto;
    padding-top: 5rem;
    position: relative;
}
.collection-container h1{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #3a3a3a;
}
.collection-container .collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
}
.collection-container .collection .collection-content{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
    margin-top: 2rem;
}
.collection-container .collection .collection-content img{
    width: 100%;
    height: 201px;
}
.collection .collection-content .collection-title h2{
    font-weight: 500;
    padding-top: 1rem;
}
.collection .collection-content .collection-title h3{
    font-weight: 400;
    padding-top: 0.5rem;
}
.collection .collection-content .collection-info .icon i{
    font-size: 12px;
    color: #fb8508;
    padding-top: 0.5rem;
}
.collection .collection-content .collection-info .icon span{
    padding-left: 1rem;
}
.collection-container .collection .collection-content p{
    line-height: 1.5;
    color: #3a3a3a;
}
.see-more{
    position: absolute;
    right: 30px;
    margin-top: 3rem;
    font-size: 18px;
    color: #e02c6d;
    font-weight: 600;
}

/* Collection Responsive section  */

@media screen and (max-width:992px) {
    .collection-container{
        width: 100%;
        padding: 0 30px;
    }
    .collection-container .collection{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:468px) {
    .collection-container{
        width: 100%;
    }
    .collection-container .collection{
        grid-template-columns: repeat(1,1fr);
    }
}

/* Product Place Section  */
/* Product Place Section  */
/* Product Place Section  */
.product-place{
    width: 80%;
    margin-top: 6rem;
    margin: auto;
    padding-top: 10rem;
}
.product-place .place-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 5rem;
}
.product-place .place-container .place-content img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.product-place .place-container .place-content h1{
    color: #3a3a3a;
    font-size: 40px;
    padding-top: 1.5rem;
}
.product-place .place-container .place-content p{
    color: #3a3a3a;
    font-size: 18px;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.product-place .place-container .place-content a{
    background: #e02c6d;
    padding: 10px 25px;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
}
/* Product Place Responsive Section */
@media screen and (max-width:992px) {
    .product-place{
        width: 100%;
        padding: 0 15px;
        margin-top: 6rem;
    }
    .product-place .place-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:768px) {
    .product-place{
        width: 100%;
        padding: 0 15px;
        margin-top: 6rem;
    }
    .product-place .place-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:468px) {
    .product-place{
        width: 100%;
        padding: 0 15px;
        margin-top: 6rem;
    }
    .product-place .place-container .place-content h1{
        font-size: 30px;
    }
    .product-place .place-container{
        grid-template-columns: repeat(1,1fr);
    }
}


/* Footer Section  */
/* Footer Section  */
/* Footer Section  */
/* Footer Section  */
footer{
    background-color: #0a0826;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    margin-top: 5rem;
    line-height: 1.5;
}
footer h2{
    font-size: 20px;
    font-weight: 500;
}
footer p{
    font-size: 12px;
}
footer .icon{
    margin-top: 1rem;
}
footer .icon i{
    background: #35334b;
    padding: 10px;
    border-radius: 50px;
    margin-left: 1rem;
}